// Search Page
.search {
  padding: 10px;

  .form-group {
    margin-bottom: 0;

    .form-control {
      width: 200px;
      display: inline;
    }
    input[type=submit] {
      width: 200px;
      float: right;
    }
  }
}

.feedback, .subpage #content .feedback {
  font-style: italic;
  p {
    padding-left: 0;
    margin-left: 0;
  }
}

.search-results, .subpage #content .search-results {

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 35px;
    text-align: left;
  }

  p {
    padding-left: 0;
    margin-top: 0;
  }

  select.form-control {
    display: inline-block;
    width: 200px;
    margin-left: 7px;
  }


}

ul.pagination, .subpage #content ul.pagination {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  float: right;
}


.search-item, .subpage #content .search-item {
  padding: 15px;
  margin-bottom: 10px;

  h3 {
    margin-top: 0;
    padding-top: 0;

    a, a:hover {
      text-decoration: none;
    }
  }
  .score-percent {
    position: absolute;
    margin-top: -12px;
    right: 30px;    
  }
}

.search-sidebar {
  ul.facets {
    list-style: none;
    padding-left: 5px;
  }
}