{# Search Feedback Template #}
<div class="feedback">
    {% if searchResults.getQueryString() %}
        <p>Search for "{{ searchResults.getQueryString() }}" returned {{ searchResults.getNumberFound() }} result(s).</p>
    {% else %}
        <p>Search returned {{ searchResults.getNumberFound() }} result(s).</p>
    {% endif %}
</div>