{# Search Results Template #}
<div class="search-results">

    {# No Results #}
    {% if searchResults.getNumberFound() <= 0 %}
        <div class="warning alert alert-warning">
          <strong>No results were found when searching for "{{ searchResults.getQueryString() }}".</strong>
            <p>Search tips</p>
            <ul>
                <li>Check spelling of keywords.</li>
                <li>Try changing some keywords (eg, "car" instead of "cars").</li>
                <li>Try searching with less specific keywords.</li>
                <li>Reduce number of keywords to get more results.</li>
            </ul>  
        </div>
    {% else %}

        {# Search Results #}
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h2>Results</h2>
            </div>
            <div class="col-md-8 col-xs-12">
                {{ searchResults.renderControlsForTwitterBootstrap(searchResults.getSearchParams())|raw }}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="spacer"></div>

        {% for item in searchResults.getPager().getIterator() %}

            <div class="search-item">
                <h3>
                    <a class="brand-d" href={{ sitelink(item.main_node_meta_node_id_si) }}>{{ item.meta_name_t|trim }}</a>
                </h3>
                <p>
                    {% if searchResults.getHighlighting()[item.meta_guid_ms] is defined and searchResults.getHighlighting()[item.meta_guid_ms].ezf_df_text is defined %}
                        {{ searchResults.getHighlighting()[item.meta_guid_ms].ezf_df_text.0|raw }}
                    {% endif %}
                </p>

                {#{% for keyword in item.keywords %}
                    <a href="{{ path("search", params|merge({'query': keyword})) }}" class="btn btn-large btn-primary">{{ keyword }}</a>
                {% endfor %}#}
                <div class="score-percent">{{ ((item.score / searchResults.getMaxScore()) * 100)|round }}% Match</div>
            </div>

        {% endfor %}  

        {{ searchResults.renderControlsForTwitterBootstrap(searchResults.getSearchParams())|raw }}
        <div class="clear"></div>                           

    {% endif %}
</div>