{# Search Sidebar #}
{% set params = searchResults.getSearchParams() %}
<div class="search-sidebar">
    {% if searchResults.hasFacets() %}
        <nav id="sidemenu" class="bg brand-b">
            <h2 class="white">Filter Results</h2>
                {% for name, items in searchResults.getAllFacets() %}
                    <h3 class="white">By {{ name|title }}</h3>
                    <ul class="facets">
                        {% for item in items %}
                            <li{% if params[item.identifier] is defined and ( params[item.identifier] == item.query_value or item.query_value in params[item.identifier] ) %} class="active"{% endif %}>

                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="{{ item.identifier }}[]" value="{{ item.query_value }}"{% if params[item.identifier] is defined and ( params[item.identifier] == item.query_value or item.query_value in params[item.identifier] ) %} checked{% endif %}>
                                    {{ item.display }} ({{ item.count }})
                                  </label>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                    {% if not loop.last %}<div class="spacer"></div>{% endif %}
                {% endfor %}
        </nav>
    {% endif %}                      
</div>