{# Search Form Template #}
<div class="bg gray-lighter search search-form">
    <div class="form-group">
        <input type="text" placeholder="Keyword" name="query" class="searchtext form-control" value="{{ searchResults.getQueryString() }}">
        {# <select name="sort" class="form-control">
            {% for value in sort_options %}
                <option{% if params.sort == value.value %} selected="selected"{% endif %} value="{{ value.value }}">{{ value.name }}</option>                    
            {% endfor %}
        </select> #}
        <input type="submit" name="search_submit" value="Search" class="btn btn-large brand-b">
        <div class="clear"></div>
    </div>
</div>